# Part 1: Get Data

In [1]:
import numpy as np
import pandas as pd

### Retrieve the URL and parse using BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

import requests 
page = requests.get(url)

from bs4 import BeautifulSoup
soup0 = BeautifulSoup(page.content, 'html.parser')

### Get Data using for loops

In [3]:
df = pd.DataFrame(columns=range(0,3), index=range(0,181))

row_pt=0
for row in soup0.find_all('tr'):
    col_pt=0
    for item in row.find_all('td'):
        if col_pt<=2:
            df[col_pt][row_pt] = item.text.replace('\n','')
            col_pt+=1
    row_pt+=1


header = []
for h in soup0.find_all('th'):
    header.append(h.text.replace('\n',''))

df.columns = header[0:3]

df.drop(df.index[0], inplace=True)
df.head()

  Postal Code           Borough              Neighbourhood
1         M1A      Not assigned               Not assigned
2         M2A      Not assigned               Not assigned
3         M3A        North York                  Parkwoods
4         M4A        North York           Victoria Village
5         M5A  Downtown Toronto  Regent Park, Harbourfront

### Clean Data: 
Removes cells of which a borough that is Not assigned

In [4]:
df2 = df[df['Borough']!='Not assigned']
df2.head()

  Postal Code           Borough                                Neighbourhood
3         M3A        North York                                    Parkwoods
4         M4A        North York                             Victoria Village
5         M5A  Downtown Toronto                    Regent Park, Harbourfront
6         M6A        North York             Lawrence Manor, Lawrence Heights
7         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Check if there is any cells that has a borough but a Not assigned neighborhood (No - as shown in output)

In [5]:
df2[df2['Neighbourhood']==df2['Borough']]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

### The Dataframe has 103 rows and 3 columns

In [6]:
df2.shape

(103, 3)

In [9]:
df2.to_csv('DF_Part1.csv')